.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.conteudo{
  max-width: 80% !important;
  text-align: center !important;
  margin:auto;
}
.intro {
  width: 90%!important;
  max-width: 940px;
}
.intro {
  position: relative !important;
  overflow: hidden !important;
  width: 960px !important;
  margin: 0 auto !important;
  text-align: left;
}
.intro h1 {
  font: 30px MuseoSansRounded,Arial,Helvetica,sans-serif;
  color: #85bd00;
  text-transform: uppercase;
}
.intro h2 {
  font: 400 18px Flexo,Arial,Helvetica,sans-serif;
  color: #63666a;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
